@charset "UTF-8";@import "https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;500;600;700;800&display=swap";.wallet__item::before,.create__item::before,.create__preview .nft__box::before,.app__wrapper::before,.subscribe__wrapper::before,.features__item::before,.collection__item::before,.bid__item::before,.seller__item::after,.seller__item::before {
   position: absolute;
   content: "";
}

*{
   scroll-behavior: smooth;
   border: 0;
   box-sizing: border-box;
   margin: 0;
   font-family: 'Be Vietnam Pro', sans-serif;
}

body{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   width: 100%;
   min-height: 100vh;
   background-color: #0B1623;
   color: white;
}

img{
   width: 500px; 
   height: max-content;
}

.password{
   font-size: 25px;
   text-align: center;
}

@media screen and (max-width: 500px) {
   img{
      width: 95%; 
      height: max-content;
   }
}